# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# android
android/keystores/*.jks
android/keystores/*.keystore
android/keystores/KEYSTORE_CREDENTIALS.txt
android/keystores/keystore-base64.txt
android/local.properties
android/.gradle
android/build
android/app/build
android/.idea
*.apk
*.aab
